html, body {
  overflow-x: hidden;
}

h1 {
  margin-bottom: 40px;
  font-size: 55px;
}

h3 {
  margin-bottom: 20px;
  font-size: 40px;
}

h1, h3, button {
  font-family: 'Cabin Sketch', cursive;
  color: #174363;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
}

section {
  display: block;
  font-family: 'Cabin', sans-serif;
  font-size: 20px;
  margin-bottom: 50px;
}

button {
  border: 1px solid #174363;
  background: none;
  color: black;
  font-size: 30px;
  margin: 3px 0px;
}

a, a:hover, a:visited, a:link, a:active {
  color: #174363;
  text-decoration: none;
}

li {
  font-size: 15px;
}

#ribbon-interior {
  visibility: hidden;
}

.gh-mark {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 40px;
}

#img-frame {
  width: 132px;
  height: 163px;
  overflow: hidden;
  border-radius: 40px;
  border: 1px solid #174363;
  margin: auto;
}

#profile-pic {
  position: relative;
  height: 170px;
  top: 0px;
  left: -21px;
}

#intro {
    margin-top: 30px;
}

#down-arrow {
  max-width: 20%;
}

.work-link img {
  width: 100%;
  display: inline;
  padding: 2px;
  border: 1px solid #174363;
}

#hire {
  margin-bottom: 150px;
}

.social-link a img {
  width: 60%;
}

/*.social-link:hover {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}*/

@-webkit-keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
  }
}

@keyframes pulse {
  25% {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
  }
  75% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
  }
}

.pulse {
  display: inline-block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.pulse:hover {
  -webkit-animation-name: pulse;
  animation-name: pulse;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#footer {
  margin-bottom: 80px;
}

#footer p {
  font-size: 9px;
}

@media screen and (min-width: 769px) {
  section {
    margin: 100px 0px;
  }

  button {
    margin: 35px 0px;
  }

  li {
    font-size: initial;
  }

  #img-frame {
    height: 145px;
    width: 145px;
    margin: 50px auto;
  }

  #profile-pic {
    height: 170px;
    top: 0px;
    left: -4px;
    width: 104%;
    height: 104%;
  }

  .flip {
    z-index: 10000;
  }

  #flip-back {
    visibility: hidden;
  }

  #top-right-ribbon {
    position: absolute;
    z-index: 100;
    top: -210px;
    right: -145px;
    width: 300px;
    height: 400px;
  }

  #ribbon-interior {
    visibility: visible;
    /*background: white;*/
    /*border: 2px solid #174363;*/
    color: #174363;
    font-family: 'Cabin Sketch', cursive;
    position: relative;
    top: 196px;
    right: 58px;
    text-align: center;
    font-size: 28px;
    margin-top: 0px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
  }

  .gh-mark {
    position: relative;
    top: 185px;
    right: -125px;
    height: 64px;
    visibility: hidden;
  }

  #top-right-ribbon a {
    color: white;
  }

  #intro {
    margin-bottom: 30px;
  }

  #down-arrow {
    height: 60px;
  }

  .work-link img {
    width: 100%;
    margin: auto;
  }

  #work {
    height: 20%;
  }

  #footer p {
    font-size: 10px;
  }

}

/*Button Animations*/

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #174363;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: white;
}
.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
